*{
    margin:0;
    padding:0;
    font-family: 'Poppins,sans-serif';
    box-sizing: border-box;
}
body{
    background: #001e4d;
}
#main1{
   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 190px auto 0;
    border-radius:10px ;
    padding: 30px;
    height:415px;
    width:600px;
    max-width:900px ;
    margin-top: 29px;
    margin-left: 40px;
    font-family: 'Poppins,sans-serif';
    box-sizing: border-box;
    animation:slider 13s infinite linear; 

}


            @keyframes slider{
                10%{background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6Upxwi94uTie8xQZo0JvkIJWq8MJ8z9w3u7pu_Nx65n-Xv30uX8krEMCEGWIhED-IS04&usqp=CAU;");}


                35%{background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPLlC6QCcS9bzZXGzAgyYGH-u6QIGyjXXYU-QLzjgvbXsMDxOpSmRXtb5MOoP9Ak7hqKQ&usqp=CAU");}

                75%{background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWG3CwcB_zvCo1ontisFo0QNcOuBirpKIchK7iGPw4WZo1tJMr69cwxOw7_ZLFq5UckmU&usqp=CAU");}

                55%{background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpvGtkCEaRqo4T7e5oW8rcsz2N6iyKXIoVID_kf3jid7r8wd5W3d8qdHzmLFdgmaYvCZw&usqp=CAU");}

                10%{background-image:url("https://images.slideplayer.com/19/5871675/slides/slide_3.jpg");}

                85%{background-image:url("r5.jpg");}

            }
            


.app{
    background: #ffff;
    width:90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius:10px ;
    padding: 30px;
    margin-left: 650px;
    margin-top: -415px;

}
.app h1{
    font-weight: 25px;
    color:#001e4d;
    font-weight: 600;
    border-bottom: 1px solid;
    padding-bottom: 30px;
}

.quiz{
    padding:20px 0;

}
.quiz h2{
    font-size: 18px;
    color:#001e4d;
    font-weight: 25px;
}

.btn{
    background: #fff;
    color:#222;
    font-weight: 500;
    width:100%;
    border:1px solid #222;
    padding:10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

}
.btn:hover:not([disabled]){
    background:#222 ;
    color:#fff;

}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width:150px;
    border:0;
    padding:10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;

}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #c593ff;
}